<form id="login-form" class="hidden" name="login-form" action="/login" method="POST">
 <fieldset>
	<%forms.login.forEach(formControl => {%>
	<span id="form-control">
	   <label class="required" for=<%=formControl.label.for%>><%=formControl.label.text%></label>
	   <input
		  id=<%=formControl.input.id%>
		  name=<%=formControl.input.name%>
		  type=<%=formControl.input.type%>
		  pattern=<%=formControl.input.pattern%>
		  placeholder="<%=formControl.input.placeholder%>"
		  required
	   >
	   <ul class="error-message">
		  <%formControl.errs.forEach(err => {%>
			 <li class="x">
			 	<span><%=err.msg%></span>
				<hr />
			 </li>
		  <%})%>
	   </ul>
	</span>
	<hr>                                                         
	<%})%>
	<span id="form-control-hidden"></span>
	<hr />
	<%-include("./form-btns.ejs");%>
 </fieldset>
</form>
