<section id="signup-login">
  <%if(err_msg) {%>
  <span id="signup-login-error-message"><%=err_msg%></span>
  <%}%>
  <header id="signup-login-hdr">
	   <div id="signup-login-hdr-btn-group">
		  <button class="btn" id="signup-login-hdr-btn-group-login"><%=login%></button>
		  <button class="btn" id="signup-login-hdr-btn-group-signup"><%=signup%></button>
	   </div>
  </header>
  <%-include("./signup.ejs");%>
  <%-include("./login.ejs");%>
</section>
