<form id="signup-form" name="signup-form" action="/signup" method="POST">
 <fieldset>
	<%forms.signup.forEach(formControl => {%>
	<span id="form-control">
	   <label class="required" for=<%=formControl.label.for%>><%=formControl.label.text%></label>
	   <input
		  id=<%=formControl.input.id%>
		  name=<%=formControl.input.name%>
		  type=<%=formControl.input.type%>
		  pattern=<%=formControl.input.pattern%>
		  placeholder="<%=formControl.input.placeholder%>"
		  required
	   >
	   <ul class="error-message">
		  <%formControl.errs.forEach(err => {%>
			 <li class="x">
				<span><%=err.msg%></span>
				<hr /> 
			 </li>
		  <%})%>
	   </ul>
	</span>
	<hr>
	<%})%>
	<%-include("./form-btns.ejs");%>
 </fieldset>
</form>
